<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth">
  <head>
    <!-- =========== head ========== -->
    <%- include('../partials/head') %>
  </head>

  <body>
    <!-- =========== nav ========== -->
    <%- include('../partials/nav-main') %>
    <!-- =========== nav ========== -->

    <%-body%>

    <!-- =========== footer ========== -->
    <%- include('../partials/footer') %>

    <!-- =========== scripts ========== -->
    <%- include('../partials/scripts') %>
  </body>
</html>
