
<!--================ Quote Form Start =================-->
<%- include("partials/popupForm") %> 

<!--================Main Slider Area =================-->
<section class="main_slider_area slider_2">
  <div id="main_slider" class="rev_slider" data-version="5.3.1.6">
    <ul>
      <li
        data-index="rs-2972"
        data-transition="slidingoverlayhorizontal"
        data-slotamount="default"
        data-hideafterloop="0"
        data-hideslideonmobile="off"
        data-easein="default"
        data-easeout="default"
        data-masterspeed="default"
        data-thumb="<%= home.slides[1].dataThumb %>"
        data-rotate="0"
        data-saveperformance="off"
        data-title="Web Show"
        data-param1=""
        data-param2=""
        data-param3=""
        data-param4=""
        data-param5=""
        data-param6=""
        data-param7=""
        data-param8=""
        data-param9=""
        data-param10=""
        data-description=""
      >
        <!-- MAIN IMAGE -->
        <img
          src="<%= home.slides[1].backgroundImage %>"
          alt="slide image"
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          data-bgparallax="5"
          class="rev-slidebg"
          data-no-retina
        />
        <!-- LAYERS -->
        <div class="slider_text_box2">
          <div
            class="tp-caption first_text"
            data-x="['left','left','left','left','left']"
            data-y="['middle','middle','middle','middle','middle']"
            data-hoffset="['0','15','15','15','15']"
            data-voffset="['-30','-30','-30','-30','-60']"
            data-fontsize="['80','80','60','60','40']"
            data-lineheight="['90','90','70','70','50']"
            data-width="['none','none','none','none']"
            data-height="none"
            data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"
          >
            <%= home.slides[1].heroText %>
          </div>

          <div
            class="tp-caption secand_text"
            data-x="['left','left','left','left','left']"
            data-y="['middle','middle','middle','middle']"
            data-hoffset="['0','15','15','15','15']"
            data-voffset="['50','50','50','40','0']"
            data-fontsize="['28','28','28','20','20']"
            data-lineheight="['38','38','38','30','30']"
            data-width="['760','760','760','550','400']"
            data-height="none"
            data-whitespace="normal"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
          >
            <%= home.slides[1].para %>
          </div>

          <div
            class="tp-caption"
            data-x="['left','left','left','left','left']"
            data-y="['middle','middle','middle','middle']"
            data-hoffset="['0','15','15','15','15']"
            data-voffset="['140','140','140','130','90']"
            data-fontsize="['28','28','28','28']"
            data-lineheight="['38','38','38','38']"
            data-width="['730']"
            data-height="none"
            data-whitespace="normal"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
          >
            <a class="slider_btn" href="#our--services"
              ><%= home.slides[1].btn %></a
            >
          </div>
        </div>
      </li>
      <li
        data-index="rs-2973"
        data-transition="slidingoverlayhorizontal"
        data-slotamount="default"
        data-hideafterloop="0"
        data-hideslideonmobile="off"
        data-easein="default"
        data-easeout="default"
        data-masterspeed="default"
        data-thumb="<%= home.slides[0].dataThumb %>"
        data-rotate="0"
        data-saveperformance="off"
        data-title="Web Show"
        data-param1=""
        data-param2=""
        data-param3=""
        data-param4=""
        data-param5=""
        data-param6=""
        data-param7=""
        data-param8=""
        data-param9=""
        data-param10=""
        data-description=""
      >
        <!-- MAIN IMAGE -->
        <img
          src="<%= home.slides[0].backgroundImage %>"
          alt=""
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          data-bgparallax="5"
          class="rev-slidebg"
          data-no-retina
        />
        <!-- LAYERS -->
        <div class="slider_text_box">
          <div
            class="tp-caption first_text"
            data-x="['center','center','center','center']"
            data-y="['middle','middle','middle','middle']"
            data-hoffset="['0','0','0','0']"
            data-voffset="['-38','-38','-38','-20','-20']"
            data-fontsize="['28','28','28','28']"
            data-lineheight="['38','38','38','38']"
            data-width="none"
            data-height="none"
            data-whitespace="nowrap"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1750,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
            data-textAlign="['left','left','left','left']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[0,0,0,0]"
            data-paddingleft="[0,0,0,0]"
          >
            <%= home.slides[0].para %>
          </div>

          <div
            class="tp-caption secand_text"
            data-x="['center','center','center','center']"
            data-y="['middle','middle','middle','middle']"
            data-hoffset="['0','0','0','0']"
            data-voffset="['38','38','38','38','38']"
            data-fontsize="['110','110','110','50','50']"
            data-lineheight="['100','100','100','70','70']"
            data-width="['none','none','none','none']"
            data-height="none"
            data-whitespace="['nowrap','nowrap','nowrap','nowrap','nowrap']"
            data-type="text"
            data-responsive_offset="on"
            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"x:left(R);","ease":"Power3.easeIn"}]'
            data-textAlign="['center','center','center','center']"
            data-paddingtop="[0,0,0,0]"
            data-paddingright="[0,0,0,0]"
            data-paddingbottom="[10,10,10,10]"
            data-paddingleft="[0,0,0,0]"
          >
            <%= home.slides[0].heroText %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!--================End Main Slider Area =================-->

<!--================Get Quote Area =================-->
<section class="get_quote_area">
  <div class="container">
    <div class="pull-left">
      <h4><%= home.getQuote.heading %></h4>
    </div>
    <div class="pull-right">
      <a class="get_btn" id="quote-btn" href="#quote"><%= home.getQuote.btn %></a>
    </div>
  </div>
</section>
<!--================End Get Quote Area =================-->

<!--================Best Company Area =================-->
<section class="best_company_area">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="b_companu_l_text">
          <h4><%= home.aboutCompany.heading %></h4>
          <p><%= home.aboutCompany.para %></p>
          <a class="slider_btn" href="#">read more</a>
        </div>
      </div>
      <div class="col-md-7">
        <div class="b_company_image">
          <img
            src="<%= home.aboutCompany.companyImage %>"
            alt="Company Image"
          />
        </div>
      </div>
    </div>
  </div>
  <!--================  SERVICES SCROLL START =================-->
  <section id="our--services"></section>
  <!--================  SERVICES SCROLL END =================-->
</section>
<!--================End Best Company Area =================-->

<!--================Our Service Area =================-->
<section class="our_service_area">
  <div class="left_service">
    <div class="left_service_inner">
      <% serviceItem.forEach(service => { %>
      <div class="row" id="service-divider">
        <% service.forEach(item => { %>
        <div class="service_item">
          <div class="service_item_inner">
            <div class="service_icon">
              <img src="<%= item.serviceIcon %>" alt="" />
              <img src="<%= item.serviceIconHover %>" alt="" />
            </div>
            <a href="#">
              <h4><%= item.serviceName %></h4>
            </a>
            <p><%= item.serviceDesc %></p>
            <a class="view_btn" href="/services/<%= item.serviceName %>">Read Details</a>
          </div>
        </div>
        <% }) %>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="right_service">
    <div class="right_service_text">
      <div class="main_b_title">
        <h2>
          our <br class="title_br" />
          service
        </h2>
        <h6>
          The Best Construction <br class="sub_br" />
          Company
        </h6>
      </div>
      <p><%= serviceData.descriptionText[0] %></p>
      <p><%= serviceData.descriptionText[1] %></p>
      <p><%= serviceData.descriptionText[2] %></p>
      <div class="border_bar"></div>
    </div>
  </div>
</section>
<!--================End Our Service Area =================-->

<!--================Our Project Area =================-->
<section id="our--projects" style="padding-top: 3rem"></section>
<section class="our_project_area">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="project_left_side">
          <div class="main_w_title">
            <h2>
              OUR <br class="title_br" />
              projects
            </h2>
            <h6>Great & Awesome Works</h6>
          </div>
          <ul class="our_project_filter">
            <li class="active" data-filter="*">
              <a href="#"><%= project.projectTaps[0] %></a>
            </li>
            <li data-filter=".building">
              <a href="#"><%= project.projectTaps[1] %></a>
            </li>
            <li data-filter=".interior">
              <a href="#"><%= project.projectTaps[2] %></a>
            </li>
            <li data-filter=".design">
              <a href="#"><%= project.projectTaps[3] %></a>
            </li>
            <li data-filter=".isolation">
              <a href="#"><%= project.projectTaps[4] %></a>
            </li>
            <li data-filter=".plumbing">
              <a href="#"><%= project.projectTaps[5] %></a>
            </li>
            <li data-filter=".tiling">
              <a href="#"><%= project.projectTaps[6] %></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="our_project_details">
          <% project.projectItems.forEach(item => { %>
            <% if(item.projectName.trim() !== "") { %>
              <div class="project_item <%= item.projectCategory %>">
                <img src="<%= item.projectImage %>" alt="" />
                <div class="project_hover">
                  <div class="project_hover_inner">
                    <div class="project_hover_content">
                      <a href="#">
                        <h4><%= item.projectName %></h4>
                      </a>
                      <p><%= item.projectDesc %></p>
                      <a class="view_btn" href="/projects/<%= item.projectName %>">View Project</a>
                    </div>
                  </div>
                </div>
              </div>
           <% } else { %>
            <div class="<%= item.projectCategory %>">
            </div>
         <%  } %>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Our Project Area =================-->

<!--================Work Area =================-->
<section class="work_area">
  <div class="container">
    <div class="work_content">
      <div class="main_c_title">
        <h2>work <br class="title_br" />with us</h2>
        <h6>Lets Get Offer</h6>
      </div>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab
        illo inventore veritatis et quasi.
      </p>
      <a class="get_bg_btn" href="#">GET A QUOTE</a>
    </div>
  </div>
</section>
<!--================End Work Area =================-->

<!--================Our Team Area =================-->
<section class="our_team_area">
  <div class="container">
    <div class="main_b_r_title">
      <h2>our <br class="title_br" />team</h2>
      <h6>We Are Awesome & Skilled</h6>
    </div>
    <div class="team_slider owl-carousel">
      <div class="item">
        <div class="team_item">
          <div class="team_image">
            <img src="img/team/team-1.jpg" alt="" />
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
          <div class="member_name">
            <a href="#">
              <h4>A. R. Khan</h4>
            </a>
            <h5>Civil Engenear</h5>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="team_item">
          <div class="team_image">
            <img src="img/team/team-3.jpg" alt="" />
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
          <div class="member_name">
            <a href="#">
              <h4>Sharmin sarkar</h4>
            </a>
            <h5>Civil Engenear</h5>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="team_item">
          <div class="team_image">
            <img src="img/team/team-1.jpg" alt="" />
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
          <div class="member_name">
            <a href="#">
              <h4>rashIdul islam</h4>
            </a>
            <h5>Civil Engenear</h5>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="team_item">
          <div class="team_image">
            <img src="img/team/team-3.jpg" alt="" />
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
          <div class="member_name">
            <a href="#">
              <h4>A. R. Khan</h4>
            </a>
            <h5>Civil Engenear</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Our Team Area =================-->

<!--================Quoto Slider Area =================-->
<br /><br />
<section class="quoto_slider_area">
  <div class="container">
    <div class="quoto_slider_inner">
      <div class="quoto_slider owl-carousel">
        <div class="item">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <h4>
            <span>weBuilder </span>theme one of the best for constraction
            website
          </h4>
          <p>
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give you a complete
            account of the system, and expound the actual teachings.
          </p>
          <h3>-- WeBuilder, CEO, WeBuilder</h3>
        </div>
        <div class="item">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <h4>
            <span>weBuilder </span>theme one of the best for constraction
            website
          </h4>
          <p>
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give you a complete
            account of the system, and expound the actual teachings.
          </p>
          <h3>-- WeBuilder, CEO, WeBuilder</h3>
        </div>
        <div class="item">
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          <h4>
            <span>weBuilder </span>theme one of the best for constraction
            website
          </h4>
          <p>
            But I must explain to you how all this mistaken idea of denouncing
            pleasure and praising pain was born and I will give you a complete
            account of the system, and expound the actual teachings.
          </p>
          <h3>-- WeBuilder, CEO, WeBuilder</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Quoto Slider Area =================-->


<!--================Map Area =================-->
<div
  id="mapBox"
  class="mapBox row m0"
  data-lat="40.7112969"
  data-lon="-74.1393991"
  data-zoom="10"
  data-marker="img/map-marker.png"
  data-info="Dhaka, uttara, Sector 10, Road 22"
  data-mlat="40.7112969"
  data-mlon="-74.1393991"
></div>
<!--================End Map Area =================-->

<!--================Address Area =================-->
<section class="address_area">
  <div class="container">
    <div class="row address_inner">
      <div class="col-md-4">
        <div class="media">
          <div class="media-left">
            <img src="img/icon/place-icon.png" alt="" />
          </div>
          <div class="media-body">
            <h4>Office Address :</h4>
            <h5>1234 Cafficic, California, USA</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media">
          <div class="media-left">
            <img src="img/icon/phone-icon.png" alt="" />
          </div>
          <div class="media-body">
            <h5>(012) 3456789</h5>
            <h5>(012) 3456789</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media">
          <div class="media-left">
            <img src="img/icon/inbox-icon.png" alt="" />
          </div>
          <div class="media-body">
            <h5>info@domain.com</h5>
            <h5>info@domain.com</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Address Area =================-->
